@import 'fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  padding: 50px 0;
}

body {
  background: #ececec;
}

.home {
  display: block;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 15px 50px;

  .ReactTable {
    height: 100%;
  }

  .pagination-bottom {
    height: 50px;
  }
}
